@import "../../../assets/scss/variables";

@import "form";

.murr-comment {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;

  &__guest {
    min-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 10px 0;
    border: $comment-form-textarea-border;

    &-info {
      margin-bottom: 10px;
    }

    &-action {
      text-transform: uppercase;
    }
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  &__item {
    position: relative;
    margin-bottom: 5px;
  }
  &__panel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: $comment-panel-padding;
  }
  &__author {
    position: relative;
  }
  &__photo {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    background-color: $warning;
  }
  &__photo-img {
    display: block;
    width: 100%;
  }
  &__status {
    position: absolute;
    bottom: 0;
    display: block;
    width: 6px;
    height: 6px;
    border: 1px solid $comment-status-border-color;
    &.offline {
      background-color: $comment-status-offline;
    }
    &.online {
      background-color: $comment-status-online;
    }
  }
  &__author-name {
    font-size: 14px;
    margin-left: 5px;
    color: $comment-panel-text-color;
    text-align: left;
  }
  &__date {
    margin-left: 5px;
    text-align: left;
    font-size: 9px;
    color: $comment-panel-text-color;
  }

  &__body,
  &__actions {
    margin-left: calc(30px + 15px);
  }
  &__body {
    font-size: 14px;
    word-break: break-word;
    text-align: left;
    padding: $comment-body-padding;
    background-color: $comment-body-background-color;
    color: $comment-body-text-color;

    * {
      color: $comment-body-text-color;
    }

    &--toggle {
      position: relative;
      padding-bottom: 10px;

      &.compact {
        height: 120px;
        overflow-y: hidden;
        padding-bottom: 5px;
      }

      &-action {
        cursor: pointer;
        height: 25px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: $comment-body-background-color;
        background: linear-gradient(
          180deg,
          rgba($comment-body-background-color, 0) 0%,
          rgba($comment-body-background-color, 1) 100%
        );
      }
    }
  }
  &__actions {
    display: flex;
    &-item {
      padding: 5px 0;

      & + & {
        margin-left: 2px;
      }

      > span {
        color: $comment-body-text-color;
      }
      > i {
        color: $comment-panel-text-color;
      }

      &.increment,
      &.decrement {
        > i {
          font-size: 18px;
        }
        &:hover > i {
          color: $comment-body-text-color;
        }
      }

      &.counter {
        cursor: inherit;
        > span {
          font-size: 14px;
          font-family: "Open Sans", sans-serif;
        }
      }

      &.reply {
        margin-left: 5px;
        > span {
          font-size: 14px;
          font-family: "Open Sans", sans-serif;
        }
        > span {
          color: $comment-panel-text-color;
        }
        &:hover > span,
        &:hover > i {
          color: $comment-body-text-color;
        }
      }
    }
  }

  // Children
  &__list--children {
    margin-top: 10px;
    padding-left: 5%;
  }
  &__children-line-vertical {
    position: absolute;
    top: 45px;
    left: 24px;
    bottom: 0;
    border-left: 1px $comment-children-line-style $comment-children-line-color;
    width: 10px;
    cursor: pointer;
  }
  &__item:last-child > div > &__children-line-vertical {
    bottom: 0;
  }

  &__children-line-vertical:hover {
    border-left-color: lighten($comment-children-line-color, 30%);
  }

  &__hidden {
    color: $comment-body-text-color;
    margin-top: 10px;
    margin-left: calc(30px + -21px);
    text-align: left;
    cursor: pointer;
    font-size: 14px;

    &-icon {
      color: $comment-body-text-color;
    }
  }
}
